# Default ignored files
/shelf/
/.idea/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
final.yaml
customer/css
customer/js
customer/index.html
offering/css
offering/js
offering/index.html
order/css
order/js
order/index.html
payment/css
payment/js
payment/index.html
product/css
product/js
product/index.html
shoppingBasket/css
shoppingBasket/js
shoppingBasket/index.html